body {
    
    margin: 0;
    padding: 0;
    background-color: #E3E1D9;
  }
  
  header {
    background-color: #EEA5A6;
    color: #fff;
    padding: 10px;
  }
  
    .search-box {
        width: 223px;
        height: 25px;
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
     
    }
  .logo {
    float: left;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    padding-right: 50px;
    border-radius: 5px;
  }
  .banner img{
    width: 1230px;
    height: 250px;
  }
  nav {
    float: right;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul a {
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    padding-bottom: 5px;
    color:#fff;
  }
 

  article.list1 {
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  width: 98%; 
}

article.list1 h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

article.list1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

article.list1 ul li  {
  display: inline-block;
  margin: 0 10px 20px;
  width: 18%; 
  text-align: center;
  vertical-align: top;
}

article.list1 ul li a {
  text-decoration: none;
  color: #000;
}

article.list1 ul li img {
  width: 80%;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
}

article.list1 ul li h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

article.list1 ul li p {
  font-size: 14px;
  margin-bottom: 5px;
}


